* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

botton,
input,
textarea {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    border: none;
    background-color: #fff;
}

.line-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border: none;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.25;
    color: #151826;
    cursor: pointer;
}

.line-button::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0 ;
    background-color: blue;
    transition: width 250ms ease-in, backgrount-color 250ms ease-in;
}

.line-button:hover::after {
    width: 100%;
    background-color: skyblue;
}